@model List<User>

<div class='container'>
    <h3>System User</h3>
	<table class="table">
          <thead class="thead-dark">
            <tr class="header">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Role</th>
              <th scope="col">Sing In Time</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</ht>
            </tr>
          </thead>
          <tbody>
    @{var cnt = 1;}
	@foreach (var item in Model as ICollection<User>)
	{
              <tr class="@(cnt % 2 == 0? "even":"odd")">
                <th scope="row">@cnt</th>@{cnt++;}
              <td>@item.Name</td>
              <td>@item.Email</td>
              <td>@item.Password</td>
              <td class = "@(item.Role.ToString()=="admin"? "admin": "" )">@item.Role</td>
              <td>@item.singupTime</td>
              <td>
                <a asp-action="UpdateUser" asp-route-id="@item.Id">
                    <i class="fa-regular fa-pen-to-square text-success catchyou"></i>

                </a>
            </td>
            <td>
                <a asp-action="DeleteUser"  asp-route-id="@item.Id">
                    <i class="fa-solid fa-trash text-danger catchyou"></i>
                </a>
            </td>
            </tr>
    }
           </tbody>
        </table>
</div>
<style>
h3 {
    text-align:center;
    color:red;
    font-weight:bold;
    background-color:#111;
    padding:10px 0px;
    border-radius:10px;
    margin:30px 0px 0px;
    /*margin-top:30px;*/

}
table {
        margin:20px 0px 40px ;
}
.header {
    color:red;
    background-color:#000;
}
.admin
{
    color:#c80202;
    font-weight:bold;
    font-size:17px;
}
.even {
    background-color:#222;
    color:#eee;

}
.odd {
    background-color:#eee;
    color:#222;
}
</style>